/* BOTONES */

:root{
    --light: #E2E2E2; 
    --primary:#c081ab;
    --secondary: #914377;
}

.nav-item {
    position: relative;
}

.navbar-collapse ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: '';
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
    color: white;
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    transform: translateY(0px);
    bottom: 0px;
    background: var(--primary);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #dd4343;
}

.dropdown-menu {
    border: 0px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border: none;
    border-radius: 3px;
}

.search-container button {
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    background:var(--primary);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 30px;
}

.search-container button:hover {
    background: #8d2a6c;
}

  footer {
    background-color: var(--secondary);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
    font-size: 10px;
  }

  footer .iconos{
    font-size: 35px;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

.boton{
    background-color:var(--primary);
    border-color:var(--primary);
}

.boton:hover{
    background-color:var(--secondary);
    border-color:var(--secondary);
    transition: .3s;
    
}