
:root{
    --light: #E2E2E2; 
    --primary:#f3c0e2;
    --secondary: #b15d95;
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
}

.img-footer{
    width: 100%;
    display: block;
}
h1 {
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.card-header{
    height: 200px;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}
.card-title{
    text-align: center;
    margin: 0;
}
.card-description{
    flex-grow: 1;
}
.card-header img{
    border-radius: 10px 10px 0 0;
}
.card-body{
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding: 20px 15px;
    text-align: justify;
    border: 1px solid #ccc;
}
.btn{
    display: block;
    background-color: var(--primary);
    padding: 5px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
@media(min-width: 480px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:  10px;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .card-body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

/* Navbar*/
.navbar-brand img{
    height: 70px;
    width: auto;
    justify-content: center;
  }
  .nav-link:hover{
    color: var(--primary);
  }
  
  .navbar-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carrito-login{
    font-size: 30px;
  }
  
  .btn-rosado{
    color: black;
    border-color: black;
  }
  
  .btn-rosado:hover {
    background-color: var(--primary); /* Un tono de rosado más oscuro para el hover */
    border-color: var(--secondary); /* Cambia el color del borde en el hover */
  }

  /* Footer*/
  footer {
    background-color: var(--secondary);
    color: #fff;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
    font-size: 10px;
  }

  footer .iconos{
    font-size: 35px;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }
  

@media (width < 900px){
    .nav__links{
        display: none;
    }
}
  
