
:root{
    --light: #E2E2E2; 
    --primary:#f3c0e2;
    --secondary: #b15d95;
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
    display: block;
}
h1 {
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.card-header{
    height: 200px;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}
.card-title{
    text-align: center;
    margin: 0;
}
.card-description{
    flex-grow: 1;
}
.card-header img{
    border-radius: 10px 10px 0 0;
}
.card-body{
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding: 20px 15px;
    text-align: justify;
    border: 1px solid #ccc;
}
.btn{
    display: block;
    background-color: var(--primary);
    padding: 5px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
@media(min-width: 480px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:  10px;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .card-body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

/* Navbar*/
.nav-item {
    position: relative;
    
  }
  
  .navbar-collapse ul li a.nav-link:before {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: transparent;
      content: '';
      opacity: 0;
      -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -ms-transform: translateY(10px);
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
  }
  
  .navbar-collapse ul li:hover a.nav-link:before {
      opacity: 1;
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      bottom: 0px;
      background:var(--primary);
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #dd4343;
  }
  
  .dropdown-menu {
    border: 0px;
  }

  /* Footer*/
  footer {
    background-color: var(--secondary);
    color: #fff;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
    font-size: 10px;
  }

  footer .iconos{
    font-size: 35px;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }
  

@media (width < 900px){
    .nav__links{
        display: none;
    }
}
  
