body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
}

:root{
  --negro: #0D0D0D; 
  --blanco:#F2F2F2;
  --primary: #F2B3D6;
  --secondary: #F2C9E0;
  --oscuro: #260115;
  --footer: #b15d95;
}

/*--------------------------- NAVBAR ---------------------------*/

.navbar-brand img{
  height: 70px;
  width: auto;
}
.nav-link:hover{
  color: var(--primary);
}

.navbar-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.carrito-login{
  font-size: 30px;
}

/*--------------------------- FOOTER ---------------------------*/

footer {
  background-color: var(--footer);
  color: #fff;
  padding: 10px 0;
  margin-top: auto;
  width: 100%;
  font-size: 10px;
}

footer .iconos{
  font-size: 35px;
}

footer a {
  color: #fff;
  text-decoration: none;
}


@media (width < 900px){
  .nav__links{
      display: none;
  }
}


/*--------------------------- INDEX ---------------------------*/
/*CARRUSEL*/
.carousel .carousel-inner .carousel-item img {
  height: auto;
  max-height: 95vh;
  max-width: 100%;
}

/*SECCION MI HISTORIA - ARREGLO DE ROPA*/
.section-container {
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text-container, .image-container {
  flex: 1 1 50%;
  box-sizing: border-box;
}

.texto-start {
  text-align: left;
  padding-left: 5%;
  padding-right: 2%;
}

.texto-end {
  text-align: right;
  padding-right: 5%;
  padding-left: 2%;
}

.image-container img {
  width: 100%;
  height: 70vh;
  display: block;
  border-radius: 6px;
  object-fit: cover;
}

/*PRIMERA SECCION*/

.service h3:hover{
  color: #F2B3D6;
}

.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.service {
  text-align: center;
  max-width: 300px;
  flex: 1 1 calc(33.333% - 20px); /* Default to 3 columns */
  margin: 10px;
}

.service img {
  height: 50px;
  margin-bottom: 20px;
}

.service h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0;
}

.service p {
  font-weight: 400;
  font-size: 14px;
  color: #7a7a7a;
}

/* Pantallas medianas: 2 columnas */
@media (max-width: 1024px) {
  .service {
    flex: 1 1 calc(50% - 20px);
  }
}

/* Pantallas pequeña: 1 columan */
@media (max-width: 768px) {
  .service {
    flex: 1 1 100%;
  }
}

/*CARDS*/
.container {
  width: 100%;
  display: flex;
  /*para que las tarjetas se ajusten a nuevas filas cuando el espacio horizontal sea insuficiente*/
  flex-wrap: wrap;
  justify-content: center;
  /**/
  max-width: 1300px;

}

.card {
  width: calc(33.333% - 40px);
  /* 3 cards por fila con space between */
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 210px;
}

.card .contenido {
  padding: 15px;
  text-align: center;
}

.card .contenido p {
  line-height: 1.5;
}

.card .contenido h3 {
  margin-bottom: 15px;
}

.card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #f3c0e2;
  border: 1px solid #f3c0e2;
  border-radius: 4px;
  transition: all 400ms ease;
}

.card .contenido a:hover { 
  background: #f3c0e2;
  color: #fff;
}
/*--------------------------- LOGIN ---------------------------*/

.boton{
  background-color:var(--primary);
  border-color:var(--primary);
}

.boton:hover{
  background-color:var(--secondary);
  border-color:var(--secondary);
  transition: .3s;
  
}
/* Media Queries */

/* ----------------------- CARDS ----------------------- */

/*En pantallas medianas (hasta 1024px), se muestran 2 tarjetas por fila*/
@media (max-width: 1024px) {
  .card {
    width: calc(50% - 40px);
    /* 2 cards por fila */
  }
}
/*En pantallas pequeñas (hasta 768px), se muestra 1 tarjeta por fila */
@media (max-width: 768px) {
  .card {
    width: calc(100% - 40px);
    /* 1 card por fila */
  }
}

/* ----------------------- CARDS ----------------------- */

@media (max-width: 1024px) {
  .text-container, .image-container {
      text-align: center;
      flex: 1 1 100%;
      padding: 10px;
  }
}