body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

:root {
  --negro: #0D0D0D;
  --blanco: #F2F2F2;
  --primary: #F2B3D6;
  --secondary: #F2C9E0;
  --oscuro: #260115;
  --footer: #b15d95;
}

/*--------------------------- NAVBAR ---------------------------*/
.form-control:focus {
  border-color: var(--footer);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--footer);
}


.responsive-logo {
  max-height: 70px;
  /* Altura máxima */
  width: auto;
  /* Mantiene la proporción de la imagen */
  height: auto;
  /* Permite que la altura se ajuste proporcionalmente */
}

@media (max-width: 768px) {
  .responsive-logo {
    max-height: 70px;
    /* Ajusta la altura máxima para pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .responsive-logo {
    max-height: 60px;
    /* Ajusta la altura máxima para pantallas muy pequeñas */
  }
}

.nav-link:hover {
  color: var(--primary);
}

.navbar-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrito-login {
  font-size: 30px;
}

.btn-rosado {
  color: black;
  border-color: black;
}

.btn-rosado:hover {
  background-color: var(--primary);
  /* Un tono de rosado más oscuro para el hover */
  border-color: var(--secondary);
  /* Cambia el color del borde en el hover */
}

/*--------------------------- FOOTER ---------------------------*/

footer {
  background-color: var(--primary);
  color: #fff;
  padding: 1em 0;
  width: auto;
  height: auto;
  color: white;
}

.footer-small {
  font-size: 12px;
  text-align: center;
  margin-left: 50px;
}

.footer-text {
  font-size: 14px;
}

footer .iconos {
  display: flex;
  align-items: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.iconos a {
  margin: 0 6px;
  font-size: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.iconos a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .nav__links {
    display: none;
  }
}



/*--------------------------- INDEX ---------------------------*/
/*CARRUSEL*/
.carousel .carousel-inner .carousel-item img {
  height: auto;
  max-height: 95vh;
  max-width: 100%;
}

/*SECCION MI HISTORIA - ARREGLO DE ROPA*/
.section-container {
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text-container,
.image-container {
  flex: 1 1 50%;
  box-sizing: border-box;
}

.texto-start {
  text-align: left;
  padding-left: 5%;
  padding-right: 2%;
}

.texto-end {
  text-align: right;
  padding-right: 5%;
  padding-left: 2%;
}

.image-container img {
  width: 100%;
  height: 70vh;
  display: block;
  border-radius: 6px;
  object-fit: cover;
}

/*PRIMERA SECCION*/

.service i{
  font-size: 60px;
}

.service h3:hover,  .service i:hover{
  color: #F2B3D6;
}

.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.service {
  text-align: center;
  max-width: 300px;
  flex: 1 1 calc(33.333% - 20px);
  /* Default to 3 columns */
  margin: 10px;
}

.service img {
  height: 50px;
  margin-bottom: 20px;
}

.service h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0;
}

.service p {
  font-weight: 400;
  font-size: 14px;
  color: #7a7a7a;
}

/* Pantallas medianas: 2 columnas */
@media (max-width: 1024px) {
  .service {
    flex: 1 1 calc(50% - 20px);
  }
}

/* Pantallas pequeña: 1 columan */
@media (max-width: 768px) {
  .service {
    flex: 1 1 100%;
  }
}

/*CARDS*/
.container {
  width: 100%;
  display: flex;
  /*para que las tarjetas se ajusten a nuevas filas cuando el espacio horizontal sea insuficiente*/
  flex-wrap: wrap;
  justify-content: center;
  /**/
  max-width: 1300px;

}

.card {
  width: calc(33.333% - 40px);
  /* 3 cards por fila con space between */
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 210px;
}

.card .contenido {
  padding: 15px;
  text-align: center;
}

.card .contenido p {
  line-height: 1.5;
}

.card .contenido h3 {
  margin-bottom: 15px;
}

.card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #f3c0e2;
  border: 1px solid #f3c0e2;
  border-radius: 4px;
  transition: all 400ms ease;
}

.card .contenido a:hover {
  background: #f3c0e2;
  color: #fff;
}

/*--------------------------- LOGIN ---------------------------*/

.boton {
  background-color: var(--primary);
  border-color: var(--primary);
}

.boton:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  transition: .3s;

}

  /*--------------------------- SERVICIO DESCRIPCION ---------------------------*/

.container-servicio {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.breadcrumbs {
  font-size: 14px;
  margin-bottom: 20px;
}

.breadcrumbs a {
  color: var(--footer);
  text-decoration: none;
}

.breadcrumbs span {
  color: #888;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.product-images {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

.main-image {
  width: 100%;
  height: auto;
}

.thumbnail-images {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.thumbnail-images img {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 1px solid var(--primary);
  padding: 2px;
}

.thumbnail-images img:hover {
  border-color: var(--footer);
}

.product-details {
  flex: 2;
  min-width: 300px;
}

.product-details h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.price {
  margin: 20px 0;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}

.discounted-price {
  color: var(--footer);
  font-size: 20px;
}

.reference, .description, .usage, .specifications, .material {
  margin-bottom: 20px;
}

.add-to-cart {
  background-color: var(--primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart:hover {
  background-color: var(--footer);
}

.sku, .category {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}


/* ----------------------- CARDS ----------------------- */

/*En pantallas medianas (hasta 1024px), se muestran 2 tarjetas por fila*/
@media (max-width: 1024px) {
  .card {
    width: calc(50% - 40px);
    /* 2 cards por fila */
  }
}

/*En pantallas pequeñas (hasta 768px), se muestra 1 tarjeta por fila */
@media (max-width: 768px) {
  .card {
    width: calc(60% - 40px);
    /* 1 card por fila */
  }
}

/* ----------------------- CARDS ----------------------- */

@media (max-width: 1024px) {

  .text-container,
  .image-container {
    text-align: center;
    flex: 1 1 100%;
    padding: 10px;
  }
}